<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*@Html.ActionLink("Click me","About")*@
        @*@Html.ActionLink("Click me", "Index","Student")*@        
    </div>
</body>
</html>
